xsd/kv1-index.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2010 rel. 3 sp1 (http://www.altova.com) by InTraffic B.V. (ACC ICT) -->
<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -  - - - - - - - - - - - - - - - - - - - - - - - - -->
<!-- Copyright: Dit document is eigendom van Platform BISON onder de Stichting Connekt,                                                 -->
<!--            en wordt gepubliceerd onder de Creative Commons Licentie by-nd/3.0/nl,                                                  -->
<!--            zie http://creativecommons.org/licences/by-nd/3.0/nl                                                                    -->
<!-- Opmerking: XSD betreft KV1 index. Met KV1 index is het mogelijk KV1 bestanden automatisch in te lezen/verwerken.                   -->
<!--            In de index wordt vastgelegd in welke volgorde de verschillende KV1 sets moeten worden verwerkt/ingelezen om tot een    -->
<!--            voor een volledige geldige dienstregeling. De KV1 index kan met verschillende versies van de Bison kv definitie worden  -->
<!--            gebruikt. Per setperiode wordt de vroegste ingangs/startdatum van de KV1 set in de index vastgelegd. Uit de informatie  -->
<!--            in de index kan worden afgeleid of een vorige KV1 set volledig of deels wordt vervangen of naast een voorgaande set     -->
<!--            geldig blijft.                                                                                                          -->
<!--                                                                                                                                    -->
<!-- Versie:  0.4 (concept) (28-01-2016)                                                                                                -->
<!--          0.5 15-02-16                                                                                                              -->
<!--          0.6 25-02-16                                                                                                              -->
<!--          0.7 29-02-16                                                                                                              -->
<!-- Historie:                                                                                                                          -->
<!--          0.4: initiële versie XSD, gebaseerd op versie zoals besproken in Bison WA op 1 oktober 2015                               -->
<!--          0.5: voorstel voor integratie met GVB versie KV1 index, incl. verwijzing naar ppt file                                    -->
<!--          0.6: Aangepast voorstel n.a.v. bespreking in KV1 werkgroep 18 febuari '16                                                 -->
<!--          0.7: Aangepast voorstel n.a.v. bespreking in KV1 werkgroep 29 febuari '16                                                 -->
<!--          0.8: Aangepast voorstel n.a.v. bespreking in AW 24-3-2016;  kv1/ppt versienummers zijn nu strings             -->
<!--          0.9: Aangepast voorstel n.a.v. document concept (c): velden nu conform document                                     -->
<!--          0.91: Aangepast voorstel n.a.v. document concept (d): alle velden in lowercase                                     -->
<!--                                                                                                                                    -->
<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -  - - - - - - - - - - - - - - - - - - - - - - - - -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tmi8="http://bison.connekt.nl/tmi8/kv1/msg" targetNamespace="http://bison.connekt.nl/tmi8/kv1/msg" elementFormDefault="qualified">
	<!-- KV1 index                                                                         	-->
	<!-- KV1 index wordt (optioneel) gelijktijdig met een KV1 dataset aangeleverd.         	-->
	<!-- De KV1-index bevat metadata over de KV1 dataset, waardoor ontvanger de            	-->
	<!-- mogelijkheid heeft de KV1 dataset automatisch te verwerken.                       	-->
	<!--    																			   	-->
	<!--  De KV1 index wordt samen met de KV1set en optioneel pptset op een ftp server     	-->
	<!--  van de ontvanger geplaatst													   	-->
	<!--  Het ontvangstproces bepaalt cyclisch of er nieuwe KV1 indexen klaar staan voor   	-->
	<!--  verwerking.    																    -->
	<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -  -->
	<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - 	-->
	<!--                                                                         			-->
	<!-- De Setgeldigheidsperiode beschrijft de geldigheid van een kv1(-delta)   			-->
	<!-- Sleutel van een setgeldigheidsperiode: DataOwnerCode + setcode + index + versie  	-->
	<!--                                                                             		-->
	<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -  -->
	<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - 	-->
	<!--                                                                         			-->
	<!-- Het vastleggen van lijnen bij setgeldigheidsperiode is optioneel bij aanleveren 	-->
	<!-- van een kv1 baseline en verplicht bij KV1-planning delta om te bepalen op welke    -->
	<!-- lijnen de delta planning betrekking heeft                                     		-->
	<!--                                                                         			-->
	<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -	-->
	<xs:element name="setgeldigheidsperiode">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="tmi8:dataownercode"/>
				<xs:element ref="tmi8:setcode"/>
				<xs:element ref="tmi8:index"/>
				<xs:element ref="tmi8:versie"/>
				<xs:element ref="tmi8:publicatiedatum"/>
				<xs:element ref="tmi8:isgeldig"/>
				<xs:element ref="tmi8:startdatum"/>
				<xs:element ref="tmi8:einddatum"/>
				<xs:element ref="tmi8:isbaseline"/>
				<xs:element ref="tmi8:zipfile" minOccurs="0"/>
				<xs:element ref="tmi8:kv1dossier" minOccurs="0"/>
				<xs:element ref="tmi8:pptfile" minOccurs="0"/>
				<xs:element ref="tmi8:pptdossier" minOccurs="0"/>
				<xs:element ref="tmi8:lijnen" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
	<!-- Elementen                                                           -->
	<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
	<xs:element name="dataownercode" type="xs:string">
		<xs:annotation>
			<xs:documentation xml:lang="nl">
                Dit veld geeft de eigenaar van het bestand weer in de vorm van een code. Bijvoorbeeld “CXX” of “GVB”.
            </xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="setcode" type="xs:string">
		<xs:annotation>
			<xs:documentation xml:lang="nl">
                Dit veld geeft het gebied weer volgens indeling vervoerder voor een deel van zijn dienstregeling. 
            </xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="index" type="xs:unsignedInt">
		<xs:annotation>
			<xs:documentation xml:lang="nl">
                Dit is een nummer binnen hetindexbestand van een vervoerder. De index moet oplopend zijn, nummers behoeven niet aaneengesloten te zijn. Bij het bereiken van de max. waarde opnieuw beginnen bij 1.
            </xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="versie" type="xs:unsignedInt">
		<xs:annotation>
			<xs:documentation xml:lang="nl">
                Een gepubliceerde periode krijgt in eerste instantie altijd versienummer 1. Mocht er iets wijzigen in een KV1, dan wordt het versienummer opgehoogd. Bij het bereiken van de max. waarde opnieuw beginnen bij 1.   
            </xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="publicatiedatum" type="xs:dateTime">
		<xs:annotation>
			<xs:documentation xml:lang="nl">
                Dit is de tijdsaanduiding van het moment waarop deze versie van het bestand beschikbaar wordt gesteld aan afnemers.
            </xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="isbaseline" type="xs:boolean">
		<xs:annotation>
			<xs:documentation xml:lang="nl">
                Indicator die aangeeft of dit bestand de basisjaardienstregeling bevat (“true”) of een tijdelijke gedeeltelijke wijziging op de basisdienstregeling  (“false”). 
            </xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="startdatum" type="xs:date">
		<xs:annotation>
			<xs:documentation xml:lang="nl">
                De startdatum is de vroegste operationele dag waarbinnen de KV1 geldig wordt. Deze startdatum kan de geldigheid van de operationele kalender in de KV1 set beperken.
            </xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="einddatum" type="xs:date">
		<xs:annotation>
			<xs:documentation xml:lang="nl">
                De laatste operationele dag van de geldigheid van het KV1-bestand. Indien in de operationele kalender in de KV1-set een latere datum voorkomt dan “einddatum”, prevaleert de “einddatum” zoals opgenomen in de KV1-index.  
            </xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="isgeldig" type="xs:boolean">
		<xs:annotation>
			<xs:documentation xml:lang="nl">
                Veld dat aangeeft of het bestand geldig is. In principe is dit veld altijd gevuld met “true”; in de situatie dat en eerder gepubliceerde afwijkende delta planning ingetrokken moet worden, bijv. omdat een geplande omleiding niet doorgaat, zal dit veld de waarde “false” krijgen. Bij een waarde 'false' wordt de eerder gepubliceerde KV1 set met dezelfde dataownercode, setcode, index en versienummer ingetrokken.  
            </xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="zipfile" type="xs:string">
		<xs:annotation>
			<xs:documentation xml:lang="nl">
                Dit is de verwijzing naar de bestandsnaam van het ZIP-bestand. Conventie: KV1_[DataOwnerCode]_[setcode]_[Index]_[Versie].zip  
            </xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="kv1dossier">
		<xs:annotation>
			<xs:documentation xml:lang="nl">
                Versienummer van het BISON-koppelvlak. Dit versienummer wordt gebruikt om KV1-data met de juiste BISON-koppelvlakdefinitie te valideren en in te laden.
            </xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="pptfile" type="xs:string">
		<xs:annotation>
			<xs:documentation xml:lang="nl">
                Dit is de verwijzing naar de bestandsnaam van het PPT-bestand.
            </xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="pptdossier">
		<xs:annotation>
			<xs:documentation xml:lang="nl">
                Versienummer van het BISON-ppt koppelvlak. 
            </xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="lijnen">
		<!--Lijnen: geeft aan welke LinePlanningNumbers in de set zitten -->
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="tmi8:lineplanningnumber" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="lineplanningnumber" type="xs:string">
		<xs:annotation>
			<xs:documentation xml:lang="nl">
               LinePlanningnumber, unieke systeemlijnnummer in domein vervoerder 
            </xs:documentation>
		</xs:annotation>
	</xs:element>
</xs:schema>
